* {
    margin: 0;
    padding: 0;
}

figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figurecaption {
    position: absolute;
    width: 101.5%;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 0;
    transition: font-size 1.5s ease-in-out;
}


a {
    position: absolute;
    top: 10%;
    left:25%;
    text-align: center;
    color: #000;
    cursor: default;

}



img {
    margin: 5px;
}

/*commit this to have transition top and bottom border*/


figurecaption:hover, span:hover {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    transition: 0.5s ease-in-out;
    position: 
}

a::before,
a::after,
span::before,
span::after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0px; 
    height:0px;
    transition: 2.5s;
}

a::before {
    top: 0px;
    left: -4px;
/*    border-top: 4px solid #000;*/ /*uncommit this to get transition top border*/
    border-left: 4px solid #000;
}

a::after {
    top: 0px;
    right: -4px;
/*    border-top: 4px solid #000;*/ /*uncommit this to get transition top border*/
    border-right: 4px solid #000;
}

span::before {
    bottom: 0px;
    left: -4px;
/*    border-bottom: 4px solid #000;*/ /*uncommit this to get transition bottom border*/
    border-left: 4px solid #000;
}

span::after {
    bottom: 0px;
    right: -4px;
/*    border-bottom: 4px solid #000; */ /*uncommit this to get transition bottom border*/
    border-right: 4px solid #000;
}

a:hover::before,
a:hover::after,
a:hover span::before,
a:hover span::after {
    opacity: 1;
    height: calc( 214px);
}

figure:hover figurecaption {
    font-size: 4em;
}
