q:lang(en) {
    quotes: "\002A" "\002A";
}

q:lang(pl) {
    quotes: "\0022" "\0022";
}

blockquote:lang(en)::before {
    
  content: "\002A";
}

blockquote:lang(en)::after {
    
  content: "\002A";
}

blockquote:lang(pl)::before {
    
  content: "\0022";
}

blockquote:lang(pl)::after {
    
  content: "\0022";
}